@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :host {
    display: block;
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-size: 16px !important; /* try 17px or 18px if you want */
    @apply text-base;
  }

  #eb-notifications-app-root {
    width: 100%;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  #eb-notifications-app-root,
  #eb-notifications-app-root *,
  #eb-notifications-app-root *::before,
  #eb-notifications-app-root *::after {
    box-sizing: border-box;
  }
}

:host,
:root {
  /* Base (light mode) colors */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  /* Primary color */
  --primary: 220, 100%, 36%;
  --primary-foreground: 0 0% 100%;

  /* Secondary, etc. */
  --secondary: 210 40% 96%;
  --secondary-foreground: 222.2 47.4% 11.2%;
}
